php_value upload_max_filesize 512M
 php_value post_max_size 512M
 
 
 
 <IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^directions/([^/]*)(/?)+$ /include/gtrybuild/directions/$1 [QSA,L]
RewriteRule ^about(/?)$  /include/gtrybuild/about/$1  [QSA,L]
RewriteRule ^corporate(/?)$  /include/gtrybuild/corporate/$1  [QSA,L]
RewriteRule ^inform(/?)$  /include/gtrybuild/inform/$1  [QSA,L]  
RewriteRule ^policy(/?)$  /include/gtrybuild/policy/$1  [QSA,L]
RewriteRule ^termofuse(/?)$  /include/gtrybuild/termofuse/$1  [QSA,L]
RewriteRule ^contacts(/?)$  /include/gtrybuild/contacts/$1  [QSA,L]
RewriteRule ^sitemap(/?)$  /include/gtrybuild/sitemap/$1  [QSA,L]  
RewriteRule ^sitemap(/?)$  /include/gtrybuild/sitemap/$1  [QSA,L]  
RewriteRule ^profession-lighting-designer(/?)$  /include/gtrybuild//profession-lighting-designer/$1  [QSA,L]  
</IfModule>